html, body {
    height: 100%;
    margin: 0;
}
body {
    background-color: #f5f2eb;
    font-family: 'Lato', sans-serif;
}
.nav-div {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3.5%;
    padding-right: 3.5%;
    max-width: auto;
    right: 0;
    left: 0;
    z-index: 5;
    background-color: #f5f2eb;
    top: 0;
}
.front-page {
    text-decoration: none;
    color: rgb(138, 138, 138);
}
.top-link {
    color: rgb(138, 138, 138);
    text-decoration: none;
}
.list-item {
    display: inline;
    font-weight: bold;
    font-size: 20px;
    color: lightgrey;
    padding-left: 25px;
}
.list-item-logo {
    display: inline;
    list-style: none;
    color: lightgrey;
    padding-left: 25px;
}
.list-item-logo a {
    text-decoration: none;
}
.hero {
    height: auto;
    padding-top: 7.5%;

}
.hero-banner {
    height: 55vh;
    width: 93%;
    margin-right: auto;
    margin-left: auto;
    background-image: url(./images/backdrop.jpg);
    background-size: 100% 100%;
    display: flex;
    align-items: 'center';
}
.logo {
    height: 500px;
    margin: auto;
}
.gallery {
    padding-top: 10%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: 'center';
}
.picture-row {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5%;
}
.outer-picture {
    height: 400px;
    width: 400px;
}
.inner-picture {

    height: 400px;
    width: 400px;
    border-radius: 400px;
}